/* Resetting default margin and setting font family for the entire document */
body {
  margin: 0;
  font-family: 'Lato', sans-serif !important;
  -webkit-font-smoothing: antialiased; /* Smoothing for better font rendering on WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* Smoothing for better font rendering on macOS */
}

/* Applying the 'Lato' font family to all elements */
* {
  font-family: 'Lato', sans-serif;
}

/* General styles for the scrollbar */
body::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #333333; /* Color of the thumb of the scrollbar */
  border-radius: 5px; /* Rounded corners for the thumb */
}

body::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the track of the scrollbar */
  border-radius: 5px; /* Rounded corners for the track */
}

/* Change the thumb color on hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}
