@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: local('Lato-Regular'), url('Lato-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: local('Lato-Light'), url('Lato-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: local('Lato-Bold'), url('Lato-Bold.ttf') format('opentype');
}
